security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        App\Entity\User: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    role_hierarchy:
        ROLE_ADMIN: [ROLE_ANNOUNCER, ROLE_USER]
        ROLE_ANNOUNCER: [ROLE_USER]

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                username_parameter: email
                password_parameter: password

            logout:
                path: app_logout
                target: home

            login_throttling:
                max_attempts: 5
                interval: '1 minute'

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/admin/users, roles: ROLE_ADMIN }
        - { path: ^/admin/categories, roles: ROLE_ADMIN }
        - { path: ^/admin/contacts, roles: ROLE_ADMIN }
        - { path: ^/admin/events, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/account, roles: ROLE_USER }
        - { path: ^/account/events, roles: ROLE_ANNOUNCER }
        - { path: ^/reservations, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
